<ion-side-menus ><!--thanks ion-pane!-->
  <ion-pane ion-side-menu-content>
    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-bar class="bar-positive">
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-android-lock" ng-click="logout()" >
            </button>

        </ion-nav-buttons>
      </ion-nav-bar>
      <ion-nav-view name="appContenido" >

      </ion-nav-view>
   </ion-pane>
   <ion-side-menu side="left">
        <ion-nav-view name="menuListaIzquierda">
        </ion-nav-view>
   </ion-side-menu>
   <ion-side-menu side="right">
        <ion-nav-view name="menuListaDerecha">
        </ion-nav-view>
   </ion-side-menu>
</ion-side-menus>
