<ion-view title="Detalle">
    <ion-content>
        <div class="card">
          <div class="item item-divider">
              <h2 class="subtitulo">Plan</h2>
          </div>
          <div class="item item-text-wrap">
              {{detalle.carrera}}
          </div>
          <div class="item item-divider">
              <h2 class="subtitulo">Archivo</h2>
          </div>
          <div class="item item-text-wrap">
             {{detalle.nombreArc}}
          </div>
          <div class="item item-divider">
              <h2 class="subtitulo">Numero de Descargas</h2>
          </div>
          <div class="item item-text-wrap">
              {{detalle.numeroDC}}
          </div>
          <div class="item item-divider">
              <h2 class="subtitulo">Ultima Fecha de Descarga</h2>
          </div>
          <div class="item item-text-wrap">
              {{detalle.ultimaDC}}
          </div>
          <div class="item item-divider">
              <h2 class="subtitulo">Descargar</h2>
          </div>
          <div class="item item-text-wrap">
           <button  class="button button-positive " ng-click="descargar(detalle)">
              <i class="icon ion-android-download"></i>
           </button>
          </div>
    </ion-content>
</ion-view>
