<ion-view>
    <ion-nav-title>
        Lista de Gestion
    </ion-nav-title>
    <ion-content class="has-header">
     <div class="list card">
            <a class="item item-icon-left" href="javascript:void(0);" ng-click="gestion(gestiones.gestion1)">
              <i class="icon ion-android-checkmark-circle"></i>
                  {{gestiones.gestion1}}
            </a>
            <a class="item item-icon-left" href="javascript:void(0);" ng-click="gestion(gestiones.gestion2)">
                  <i class="icon ion-android-checkmark-circle"></i>
                    {{gestiones.gestion2}}
            </a>
     </div>
    </ion-content>
</ion-view>
