<ion-view title="Informacion General">
    <ion-content>
     <div class="card">
          <div class="item item-divider">
            Docente
          </div>
          <div class="item item-text-wrap">
              {{datos.codDoc}} 
              <br>
              {{datos.nomApeDoc}}
          </div>
          <div class="item item-divider">
              Carrera
          </div>
          <div class="item item-text-wrap">
              {{datos.codCarrera}}
              <br>
              {{datos.nomCarrera}}
          </div>
          <div class="item item-divider">
              Facultad
          </div>
          <div class="item item-text-wrap">
              {{datos.codFacultad}}
              <br>
              {{datos.nomFacultad}}
          </div>
          <div class="item item-divider">
              Gestion
          </div>
          <div class="item item-text-wrap">
              {{datos.anoGestion}}
              <br>
              {{datos.numGestion}}
              <br>
              {{datos.nomGestion}}
          </div>
    </div>
    </ion-content>
</ion-view>
