<ion-header-bar class="expanded menuD">
    <span class="avatar" style="background: url('img/menuD.jpg'); background-size: cover;"></span>
    <h2>MATERIA</h2>
</ion-header-bar>
<ion-content class="has-expanded-header menuDC">
    <ion-list>
        <ion-item nav-clear menu-close href="#/app/materias">
        <button class="button button-clear button-positive" >Abrir</button>
        </ion-item>
        <ion-item nav-clear menu-close>
           <button class="button button-clear button-positive" ng-click="cerrarMateria()">Cerrar</button>
        </ion-item>
    </ion-list>
</ion-content>
