<header class="bar bar-header bar-dark">
    <h1 class="title">Menu Transcriptor</h1>
</header>
<ion-content class="has-header">
    <ion-list>
        <ion-item nav-clear menu-close href="#/app/materias">
        <!--<button class="button button-clear button-positive" ng-click="abrirEstudiante()">Abrir</button>!-->
        Abrir
        </ion-item>
        <ion-item nav-clear menu-close>
           <button class="button button-clear button-positive" ng-click="cerrarMateria()">Cerrar</button>
        </ion-item>
        <ion-item nav-clear menu-close href="">
            Acerca
        </ion-item>
    </ion-list>
</ion-content>
