<ion-modal-view>
     <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">Notas</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
     </ion-header-bar>
    <ion-content>
       <div class="list">
         <label class="item item-input item-stacked-label">
            <span class="input-label">Codigo SIS</span>
            <input type="text" ng-disabled="true" placeholder="{{estudiante.CODEST}}"/>
         </label>
         <label class="item item-input item-stacked-label">
            <span class="input-label">Nombre y Apellido</span>
            <input type="text" ng-disabled="true" placeholder="{{estudiante.NOMBRE}}"/>
         </label>
         <label class="item item-input item-stacked-label">
             <span class="input-label">1ra Opcion</span>
             <input type="text" ng-model="estudiante.RAOPC" placeholder="1ra Opcion" opcion="primeraOp" only-num/>
            <ng-mensaje mensaje="errorRM"></ng-mensaje>
            <ng-mensaje valor="!errorRV"></ng-mensaje>
        </label>
        <label class="item item-input item-stacked-label" ng-hide="!daOp">
            <span class="input-label">2da Opcion</span>
            <input type="text" ng-model="estudiante.DAOPC"  placeholder="2da Opcion" opcion="segundaOp" only-num/>
            <ng-mensaje mensaje="errorDM"></ng-mensaje>
            <ng-mensaje mensajeV="errorDV"></ng-mensaje>
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nota Final</span>
            <input type="text" ng-disabled="true" ng-model="notFin" placeholder="{{estudiante.NOTFIN}}" />
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Nota Cont</span>
            <input type="text" ng-disabled="true" ng-model="notCon" placeholder="{{estudiante.NOTCON}}"/>
        </label>
        <button class="button button-full button-positive" ng-click="closeModal(estudiante)">
            Guardar
        </button>
      <div>
    </ion-content>
</ion-view>
